* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: hsl(208, 100%, 97.06%);
  --link-color: hsla(227, 81%, 54%, 1);
  --background-color: hsla(209, 83%, 7%, 1);
  --second-bg-color: hsla(209, 83%, 9%, 1);
  --main-color: hsl(202.96, 95.15%, 59.61%);
  --darker-color: hsl(205.14, 100%, 43.53%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* navigation bar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  backdrop-filter: blur(10);
  display: flex;
  justify-content: space-between;
  padding: 40px 150px;
  align-items: center;
  z-index: 1;
}

.nav a {
  color: var(--text-color);
  font-weight: 600;
}

/* Logo */
.nav .left a {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.nav .left span {
  color: var(--main-color);
  text-shadow: 0 0 20px var(--main-color);
}

.nav .left a:hover {
  transform: scale(1.1);
}

#menu-icon {
  font-size: 2rem;
  color: var(--text-color);
  display: none;
}
/* Elements */
.nav .right {
  font-size: 18px;
  font-weight: 500;
}

.nav .right a {
  margin: 0px 15px;
  padding: 2px 10px;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.nav .right a:hover,
.nav .right .active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

section {
  min-height: 100vh;
  padding: 150px 150px;
}
/* HOME */
/* Picture */
.home {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.home .text {
  flex: 5;
  margin-right: 200px;
}

.home .text h1 {
  font-size: 55px;
  padding-bottom: 10px;
}

.home .text h3 {
  font-size: 30px;
  padding-bottom: 10px;
}

.home .text p {
  line-height: 30px;
  font-size: 19px;
}
.home .headshot {
  flex: 2;
}
.home .headshot img {
  max-width: 500px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 50px var(--main-color);
  transition: 0.3s ease-in-out;
}

.home .headshot img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}

.home .social-icon a {
  margin: 25px 25px 17px 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--main-color);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.home .social-icon a:hover {
  transform: scale(1.2) translateY(-5px);
  color: var(--text-color);
  border: 3px solid var(--main-color);
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
}

.home .btn a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px solid var(--main-color);
  padding: 10px 23px;
  border-radius: 45px;
  font-weight: 600;
  transition: 0.3s ease-in;
}

.home .btn a:first-child {
  background-color: var(--main-color);
  color: var(--background-color);
  box-shadow: 0 0 25px var(--main-color);
}

.home .btn a:last-child {
  color: var(--main-color);
}

.home .btn a:last-child:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
  background-color: var(--main-color);
  color: var(--background-color);
}

.home .btn a:first-child:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}

/* text animation */
.text-animation {
  display: flex;
}
.text-animation .option {
  margin-left: 8px;
  height: 45px;
  line-height: 45px;
  overflow: hidden;
}
.text-animation .option li {
  list-style: none;
  color: var(--main-color);
  position: relative;
  top: 0;
  animation: slide 21s steps(5) infinite;
}
.text-animation .option li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background: var(--background-color);
  border-left: 2px solid var(--main-color);
  animation: typing 4s steps(31) infinite;
}
@keyframes typing {
  0%,
  20% {
    left: 0;
  }
  40%,
  60% {
    left: calc(100% + 20px);
  }
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    top: -225px;
  }
}

/* ABOUT ME */
.about-me {
  background-color: var(--second-bg-color);
}
.about-me .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me h2 {
  color: var(--text-color);
  padding-bottom: 75px;
  font-size: 55px;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  transition: 0.3s ease;
}

.about-me h2:last-child {
  color: var(--main-color);
}
.about-me h2:hover {
  transform: scale(1.1) translateX(25px);
}
.about-me .headshot {
  flex: 3;
}
.about-me .headshot img {
  width: 450px;
  height: auto;
  border-radius: 15%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.3s ease-in-out;
}
.about-me .headshot img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}
.about-me .text {
  flex: 4;
  color: var(--text-color);
  line-height: 35px;
  font-size: 20px;
}
.about-me .text ol {
  list-style: disc;
}

.about-me .text li {
  padding-bottom: 10px;
}

.about-me .text span,
a {
  font-weight: 600;
  color: var(--main-color);
}

.about-me .text a {
  border-bottom: 2px solid var(--main-color);
}

.about-me .text a:hover {
  text-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}

/* SKILLS */
.skills {
  color: var(--text-color);
}
.skills h2 {
  font-size: 55px;
  text-align: center;
  margin: 0px 550px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--text-color);
  transition: 0.3s ease;
}
.skills h2:hover {
  transform: scale(1.1) translateY(-5px);
}
/* Programming */
.skills h3 {
  color: var(--main-color);
  text-align: center;
  font-size: 23px;
  padding: 20px 0px;
}
.skills .cells,
.uiux .cell {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  padding-bottom: 30px;
  color: var(--background-color);
}

.skills .cells .cell,
.skills .uiux .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--text-color);
  padding: 7px 25px;
  border-radius: 15px;
  background: var(--text-color);
  transition: 0.3s ease;
}
.skills .cells .cell span,
.uiux .cell span {
  font-size: 17px;
  font-weight: 500;
}
.skills .cells .cell img,
.skills .database .cells img,
.skills .db-and-uiux .uiux img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

/* database and ui/ux*/
.skills .db-and-uiux {
  display: flex;
  justify-content: center;
  gap: 185px;
}
.skills .db-and-uiux .database .cells {
  flex: 5;
}
.skills .db-and-uiux .database .cells {
  display: flex;
  justify-content: center;
}
.skills .db-and-uiux .database .cells img:last-child {
  width: 150px;
}

.skills .cells .cell:hover,
.uiux .cell:hover {
  border: 4px solid var(--main-color);
  transform: scale(1.1);
}

/* ui/ux */
.skills .db-and-uiux .uiux .cell {
  flex: 1;
}

/* ba-and-sa */
.skills .ba-and-sa .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 90px;
}

.business-process,
.system-analysis,
.system-design {
  border: 4px solid var(--darker-color);
  border-radius: 15px;
  background: var(--darker-color);
  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s ease;
}

.business-process h4,
.system-analysis h4,
.system-design h4 {
  text-align: center;
  font-size: 21px;
  padding: 20px 25px 10px;
}

.skills .ba-and-sa .content ol {
  list-style: disc;
  font-size: 17px;
  padding: 0px 30px;
  padding-bottom: 20px;
  line-height: 28px;
}

.business-process:hover,
.system-analysis:hover,
.system-design:hover {
  background: var(--text-color);
  transform: scale(1.1);
  border: 4px solid var(--darker-color);
  color: var(--background-color);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--darker-color);
}
::-webkit-scrollbar-track {
  background-color: var(--background-color);
  width: 50px;
}

/* PROJECTS */
.projects {
  color: var(--text-color);
  background-color: var(--second-bg-color);
}

.projects .heading {
  text-align: center;
  font-size: 45px;
  padding: 15px 0px;
}
.prj-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.projects img {
  height: 10rem;
  width: auto;
}
.prj-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 2px solid var(--main-color);
  padding: 2rem;
  border-radius: 15px;
  transition: 0.3s ease;
}
.prj-card:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
}
.prj-card .title {
  text-align: center;
  padding: 10px;
}
.prj-card .links {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, minmax(120px, 1fr));
  place-items: center;
  gap: 5px;
  row-gap: 15px;
}

.prj-card .links a {
  background: var(--main-color);
  color: var(--second-bg-color);
  padding: 10px 15px;
  border-radius: 1.3rem;
  text-align: center;
}
.prj-card .links a:last-child:nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}
/* CONTACT */
.contact h2 {
  color: var(--text-color);
  transition: 0.3s ease;
  font-size: 55px;
  text-align: center;
}

.contact h2 span {
  color: var(--main-color);
}
.contact h2:hover {
  text-shadow: 0 0 25px var(--main-color);
}
.contact h3 {
  color: var(--text-color);
  text-align: center;
  padding-bottom: 60px;
  font-size: 18px;
}

.contact form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 185px;
}

.contact form .left {
  flex: 6;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.contact form .left input {
  width: 90%;
  padding: 15px 10px;
  border-radius: 10px;
  border: 4px solid var(--main-color);
  font-size: 18px;
  font-weight: 500;
}
.contact form .right {
  flex: 4;
  flex-direction: column;
  display: flex;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}
.contact form .right textarea {
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  border: 4px solid var(--main-color);
  font-weight: 500;
}
.contact form .right button {
  border-radius: 50px;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: var(--darker-color);
  color: var(--text-color);
  border: 2px solid var(--darker-color);
  font-weight: 500;
  font-size: 15px;
  box-shadow: 0 0 25px var(--darker-color);
  transition: 0.3s ease-in-out;
}
.contact form .right button:hover {
  transform: scale(1.1);
  box-shadow:
    0 0 25px var(--darker-color),
    0 0 50px var(--darker-color);
}
/* FOOTER */
.footer {
  padding: 30px 0px;
  background: var(--second-bg-color);
  flex-direction: column;
  display: flex;
}
.footer .social {
  font-size: 17px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer .social a {
  border: 2px solid var(--main-color);
  padding: 5px;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-5px);
  background: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  color: var(--text-color);
}

.footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  gap: 50px;
}

.footer ul li a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 18px;
}
.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}
.footer .copyright {
  color: var(--text-color);
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
}
